* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
/* Header Start */
header {
  padding: 10px 15%;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 24px;
  color: #f9faf8;
}

#header-links {
  font-size: 18px;
  color: #e5e7eb;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

/* Header End */

/* Main Start */

main {
  padding: 70px 15%;
  background-color: #1f2937;
  display: flex;
}

.text-container {
  flex: 1;
  padding: 0 20px 0 0;
  height: 215px;
  font-size: 18px;
  color: #e5e7eb;
}

.awesome {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

#first-Sign-Up {
  margin: 10px 0;
  background-color: #3882f6;
  width: 100px;
  height: 30px;
  border-style: none;
  border-radius: 7px;
  color: white;
}

.image-palceholder {
  background-color: #e5e7eb7e;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Main End */

